<nav class="nav collapsible">
  <div class="nav_brand">
    <a href="/"><img class="nav__logo" src="images/g-logo.svg" alt="" /></a>
    <h1 class="nav__heading" href="/">
      <font color="#FF2626">r</font>
      <font color="#FFD523">e</font>
      <font color="#71EFA3">g</font>
      <font color="#0F52BA">i</font>
      <font color="#66CC66">f</font>
      <font color="#00C1D4">y</font>
    </h1>
  </div>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="../images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">VPS</a></li>
    <li class="nav__item"><a href="#">Hosting</a></li>
    <li class="nav__item"><a href="#">Domain</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
